main {
  /* display: flex; declarado no style.css */
  flex-direction: column; 
  background: rgb(0,255,238);
  background: radial-gradient(circle, #00c8b4 0%, #0a7873 100%);
}

.texto {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tituloPrincipal {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

.fusoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.fusoContainer form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fusoContainer form label {
  padding: 5px;
}

.fusoContainer form select {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

#relogio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  flex: 1;
}

.containerRelogio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
}

.containerRelogio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 18rem;
  width: 14rem;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.containerRelogio p {
  font-size: 3rem;
}

.containerRelogio span {
  font-size: 1rem;
}

.pDataTimezone {
  font-size: 1.5rem;
}
