/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
}

header h1 {
  padding: 10px;
  margin-left: 10px;
}

header nav {
  display: flex;
  align-items: end;
  height: 100%;
  gap: 10px;
  margin-right: 10px;
}

header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #3aa;
  color: white;
  height: 75%;
  padding: 15px;
  width: 100px;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
}

header nav a:hover {
  background-color: #288;
}

main {
  display: flex;
  flex: 1; /* Depende do display flex do body */
  width: 100%;
}



/* Classes */

.utcContainer {
  display: "flex";
  flex-direction: column;
  background-color: #f4f4f4;
  width: 100%;
  padding: 10px;
  /* border: solid 1px yellowgreen; */
}

.utcHorariosSubTitulos {
  font-weight: bold;
  margin-bottom: 5px;
}

.utcBtns {
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  min-width: 5rem;
  width: 7.5%;
}

.fusoContainer {
  display: "flex";
  flex-direction: column;
  width: 100%;
  /* background-color: #fffbf7; */
}

/* IDs */

#btnJuliane ,
#btnEliel {
  padding: 10px;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  min-width: 5rem;
  width: 7.5%;
}

#btnEliel {
  background-color: fuchsia;
}

#btnJuliane {
  background-color: orange;
}

#utcHorarios p:nth-child(even) {
  margin-bottom: 15px;
  border-bottom: solid 1px #999;
}

#utcBotoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#relogio {
  border: solid 1px red;
}
