/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
}

header h1 {
  padding: 10px;
  margin-left: 10px;
}

header nav {
  display: flex;
  align-items: end;
  height: 100%;
  gap: 10px;
  margin-right: 10px;
}

header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #3aa;
  color: white;
  height: 75%;
  padding: 15px;
  width: 100px;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
}

header nav a:hover {
  background-color: #288;
}

main {
  display: flex;
  flex: 1; /* Depende do display flex do body */
  width: 100%;
}
